<div class="container">
  <div *ngIf="!isSignupSuccessful">
    <div *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
      <h1>Sign Up Form</h1>
      <div class="form-inner-container error-div" *ngIf="errorMessage">
        {{ "error occurred " + errorMessage }}
      </div>
      <div class="form-inner-container">
        <label for="email" class="form-label">email</label>
        <input
          id="email"
          type="email"
          class="form-control"
          formControlName="email"
          email
          required
        />
      </div>
      <div class="form-inner-container">
        <label for="password" class="form-label">password</label>
        <input
          id="password"
          type="password"
          minlength="6"
          class="form-control"
          formControlName="password"
          required
        />
      </div>
      <div class="form-submit-container">
        <button type="submit" [disabled]="!signupForm.valid">Sign Up</button>
      </div>
    </form>
  </div>
  <div *ngIf="isSignupSuccessful">
    <h1>your signup is successful</h1>
    <h2>Go back to Welcome page to sign In :)</h2>
  </div>
  <div class="back-to-login" routerLink="">
    <button>Back to Welcome Page</button>
  </div>
</div>
