<div class="container">
  <form [formGroup]="signingForm" (ngSubmit)="onSubmit()">
    <h1>Sign In Form</h1>
    <div class="form-inner-container">
      <label for="email" class="form-label">email</label>
      <input
        id="email"
        type="email"
        class="form-control"
        formControlName="email"
        email
        required
      />
    </div>
    <div class="form-inner-container">
      <label for="password" class="form-label">password</label>
      <input
        id="password"
        type="password"
        minlength="6"
        class="form-control"
        formControlName="password"
        required
      />
    </div>
    <div class="form-submit-container">
      <button type="submit" [disabled]="!signingForm.valid">Sign Up</button>
    </div>
  </form>
  <div class="back-to-login" routerLink="">
    <button>Back to Welcome Page</button>
  </div>
</div>
